.button-beige {
    background-color: $color-beige;
    color: $color-white;
    font-family: 'FuturaDemiC', sans-serif;
    border: 1px solid $color-transparent;
    border-radius: 2px;
    text-transform: uppercase;
    box-shadow: 5px 5px 10px 0px rgba(227,184,115, 0.3);

    &:hover {
        color: $color-beige;
        background-color: $color-white;
        border: 2px solid $color-beige;
        box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.3);
    }
}

.button-white {
    background-color:$color-transparent;
    border: 1px solid white;
    color: $color-white;
    font-family: 'FuturaDemiC', sans-serif;
    border-radius: 2px;
    text-transform: uppercase;
}