.online-control {
    background: linear-gradient(180deg, $bg-color-dark 33.3%, $color-white 0%);
    height: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    @include xs {
        height: 228vw;
        background: $bg-color-dark;
    }
}

.online-control--header {
    @include xs {
       margin: 0;
        width: 100%;
        height: 30vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    & h2 {
        position: relative;
        margin: 2.5vw 0 1vw 0;
        font-family: 'Yeseva One', serif;
        text-transform: uppercase;
        font-size: 20px;
        color: white;

        @include xs {
            font-size: 22px;
            margin-top: 1vw;
            margin-bottom: 5vw;
        }
    }

    & .camera-icon {
        margin-left: 2.2vw;
    }
}

.online-control--video{
    width: 56.7vw;
    height: 30.14vw;
    margin-top: 1.9vw;

    
     @include xs {
       margin: 0;
       width: 100%;
       width: 90vw;
       height: 57.14vw;
    }
}

.online-control--info {
    position: relative;
    width: 51vw;
    height: 15vw;
    margin-top: 3vw;
    padding: 2vw 2vw 0vw 2vw;
    box-sizing: border-box;

    @include xs {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    & p {
        text-align: center;
        font-family: 'FuturaBookC', sans-serif;
        font-size: 20px;
        line-height: 34px;
        color: $bg-color-dark;

        @include xs {
            font-size: 14px;
            text-align: center;
            line-height: 7vw;
            margin: 9vw 3vw;
            color: $color-white;
        }

        &::before{
            content: '';
            position: absolute;
            left: 46%;
            top: 9%;
            display: block;
            width: 4vw;
            border-top: 1.5px solid $color-beige;

            @include xs {
                width: 15vw;
                left: 42%;
                top: 12%;
            }
        }
    }
    

    @include xs {
        margin: 0;
        width: 100%;
        height: 60vw;
    }
}

.online-control--form {
    width: 54vw;
    height: 14vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    @include xs {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 81vw;
        margin: 0;
    }

    &--details {
        display: grid;
        grid-template-columns: 10fr 10fr 9fr;
        width: 100%;
        grid-gap: 3.5vw;
        margin-top: 2vw;

        @include xs {
            grid-template-columns: 1fr;
            grid-gap: 15vw 0;
        }

        & .your-name-cl,
        & .your-phone-cl {
            display: flex;
            flex-direction: column;
            font-family: 'FuturaBookC', sans-serif;

            @include xs {
                padding: 0 4vw;
            }

            &  label {
                font-size: 15px;
                color: $bg-color-dark-50;
                @include xs {
                    color: $color-white-50;
                }
            }

            & input {
                border: none;
                box-shadow: none;
                background-color: transparent;
                border-bottom: 1px solid $bg-color-dark-50;

                @include xs {
                    color: white;
                    border-bottom: 1px solid $color-white;
                }
            }
            
            & input::placeholder{
                font-size: 18px;
                color: $bg-color-dark;
                @include xs {
                    color: $color-white;
                    
                }
            }
        }

        & .your-phone-cl input::placeholder {
            color: $bg-color-dark;
            @include xs {
                color: $color-white;
            }
        }
    }

    &--tos {
        & label {
            @include xs {
                margin-top: 4vw;
            }

            font-family: 'FuturaBookC', sans-serif;
            font-size: 16px;
            @include xs {
                color: $color-white;
            }
        }
    }

    & .btn-submit {
        @include xs {
            width: 91vw;
            line-height: 13vw;
            margin: 0 auto;
        }
    }
}
